/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html, body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}



.hero-piece{
    background-image: url(assets/headphones_hero_1.jpg);
     background-position: center center;     
    background-repeat: no-repeat;    
    background-size: cover;          
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    

    padding-bottom: 80px;
    
    
    
}

.head-section{
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    align-items: center;
    flex-wrap: nowrap;
    gap: 40px;
    box-sizing: border-box;


    
}

.logo-section{
    height: 40px;
    margin-left: 0;
    
}

.logo-section img {
  max-width: 100px;
  height: auto;
 
}

.right-section{
    display: flex;
   gap: 20px;
   align-items: center;
   margin-right: 0;
   


   
    
}

.what-section{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.15s ease-in-out;
}

.what-section:hover{
    color: #FF6565;
       
}


.our-section{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.15s ease-in-out;
}

.our-section:hover{
    color: #FF6565;
}

.contact-section{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.15s ease-in-out;
}

.contact-section:hover{
    color: #FF6565;
}

.middle-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  text-align: center;
  padding: 40px 20px;
 
    

}


.heading1{
    font-weight: bold;
    font-size: 32px;
    color: white;
    margin-bottom: 10px ;
    
}

.paragraph1{
    color: white;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 1rem;
    
}


.button1{
    
    background-color: #FF6565;
    color: white;
    padding: 10px 25px;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.1);
    transition:  opacity 0.3s ease-in-out;
}

.button1:hover{
    opacity: 0.9;
}


.paragraph2{
    max-width: 700px;
    margin-top: 63px;
    color: white;
    font-size: 15px;
    line-height: 1.9;
    
}


@media (max-width: 480px) {
  .head-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .logo-section {
    margin-left: 0;
    width: 120px;
    margin-bottom: 10px;
  }

  .right-section {
    flex-direction: column;
    margin-right: 0;
    gap: 10px;
  }

  .right-section a {
    font-size: 14px;
    color: white;
    display: block;
  }

  .middle-section {
    margin-top: 200px; 
    padding: 0 20px;
  }

  .paragraph2 {
    width: 100%;
  }
}