/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
}



.hero-piece{
    background-image: url(assets/headphones_hero_1.jpg);
     background-position: center center;     
    background-repeat: no-repeat;    
    background-size: cover;          
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 80px;
    
    
    
}

.head-section{
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  align-items: center;
  flex-wrap: nowrap;
  gap: 40px;
  box-sizing: border-box;


    
}

.logo-section img {
  max-width: 100px;
  height: auto;
  
 
}

.logo-section{
  height: 40px;
  margin-left: 0;
    
}



.right-section{
  display: flex;
  gap: 20px;
  align-items: center;
  margin-right: 0;
   


   
    
}

.what-section{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.15s ease-in-out;
}

.what-section:hover{
    color: #FF6565;
       
}


.our-section{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.15s ease-in-out;
}

.our-section:hover{
    color: #FF6565;
}

.contact-section{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.15s ease-in-out;
}

.contact-section:hover{
    color: #FF6565;
}

.middle-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 20px;
 
    

}


.heading1{
    font-weight: bold;
    font-size: 32px;
    color: white;
    margin-bottom: 10px ;
    
}

.paragraph1{
    color: white;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 1rem;
    
}


.button1{
    
    background-color: #ed3636;
    color: white;
    padding: 10px 25px;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.1);
    transition:  opacity 0.3s ease-in-out;
}

.button1:hover{
    opacity: 0.9;
}


.paragraph2{
    max-width: 700px;
    margin-top: 63px;
    color: white;
    font-size: 15px;
    line-height: 1.9;
    
}

.paragraph3{
    max-width: 700px;
    margin: 40px auto;
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
    padding: 200px 0 20px;
    color: #333;
    
}

.what-we-do-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 70px 20px 40px;
    background-color: #fff;
    
}

.sub-wwd-section{
    max-width: 200px;
    text-align: center;
}

.sub-wwd-section img{
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}

.sub-wwd-section p{
    font-size: 14px;
    color: black;
}



.our-result-section {
  background-image: url(assets/headphones_hero_2.jpg);
background-position: center center;     
    background-repeat: no-repeat;    
    background-size: cover;          
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}





.pentagon-section{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
 

}

.paragraph4{
    max-width: 700px;
    margin: 40px auto;
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
    padding: 200px 0 20px;
    color: #fff;

}

.pentagon-sub{
    position: relative;

}

.pentagon-sub img:first-child {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.ors-sub{
  position: absolute;
  top: 45%;
  left: 50%;
  width: 40%;
  height: 30px;
  transform: translate(-60%, -50%);
  color: white;
  font-size: 50px;
  text-align: center;
  
 

}

.ors-subs{
  position: absolute;
  top: 70%;
  left: 50%;
  width: 200px;
  height: 20px;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 13px;
}

.horizontal-line{
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 200px;


}

.contact-us-section{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.button2{
  background-color: #ed3636;
  color: white;
  padding: 10px 25px;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  width: 140px;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition:  opacity 0.3s ease-in-out;
}

.button2:hover{
  opacity: 0.9;
}

.button-two{
  display: flex;
  justify-content: center;
}

.footer-section{
background-color: #071629;
  margin-top: 90px;
  color: white;
 
 
}

.footer-section-main{
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
 
  
  
}

.footer-section-img {
  max-height: 40px;
}


.footer-section-imgs{
display: flex;
  gap: 20px;
  
}


.footer-section-imgs img {
  width: 30px;
  height: 30px;

}



.copywrite-section-main{
display: flex;
  justify-content: center;
  padding: 10px 0;
  text-align: center;
}

.copywrite-section{
 font-size: 12px;
  color: #fff;
}



@media (max-width: 480px) {
  .head-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .logo-section {
    margin-left: 0;
    width: 120px;
    margin-bottom: 10px;
  }

  .right-section {
    flex-direction: column;
    margin-right: 0;
    gap: 10px;
   
  }

  .right-section a {
    font-size: 14px;
    color: white;
    display: block;
  }

  .middle-section {
    margin-top: 200px; 
    padding: 0 20px;
  }

  .paragraph2 {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .footer-section-main {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .footer-section-imgs {
    justify-content: center;
  }
}